---
import Map from "./Map.astro";

const contactDetails = {
  phones: ["6931972597", "2102133709"],
  address: "ΣΥΡΟΥ 19 & ΕΛ. ΒΕΝΙΖΕΛΟΥ, ΓΑΛΑΤΣΙ 111 47",
  workingHours: [
    { day: "ΤΡΙΤΗ - ΠΑΡΑΣΚΕΥΗ", hours: "10:00-14:30 & 17:00-20:30" },
    { day: "ΣΑΒΒΑΤΟ", hours: "10:00-17:00" },
    { day: "ΔΕΥΤΕΡΑ", hours: "ΚΛΕΙΣΤΑ" },
  ],
  social: [
    { name: "i: @3rdfloor", url: "https://www.instagram.com/th3rd.floor" },
    { name: "f: @3rdfloor", url: "https://www.facebook.com/yourprofile" },
  ],
};

const contactDetailClass =
  "p-4 bg-[var(--bg-color)]/70 rounded-lg shadow-md flex flex-col gap-4 items-center";
---

<div class="contact">
  <div
    class="p-[8%] flex flex-col xl:flex-row gap-12 items-center justify-between"
  >
    <div class="max-sm:w-[70%] grid grid-cols-1 sm:grid-cols-2 gap-12">
      <div class={`${contactDetailClass}`}>
        <img class="w-6" src="/images/contact/phone.png" alt="phone" />
        <div>
          {
            contactDetails.phones.map((phone) => (
              <div>
                <a class="sm:hidden" href={`tel:${phone}`}>
                  {phone}
                </a>
                <p class="max-sm:hidden">{phone}</p>
              </div>
            ))
          }
        </div>
      </div>
      <div class={`${contactDetailClass}`}>
        <img class="w-6" src="/images/contact/location.png" alt="address" />
        <p>{contactDetails.address}</p>
      </div>
      <div class={`${contactDetailClass}`}>
        <img class="w-6" src="/images/contact/clock.png" alt="working hours" />
        <ul>
          {
            contactDetails.workingHours.map(({ day, hours }) => (
              <li class="flex justify-between">
                <>
                  <span>{day}: </span>
                  <strong>{hours}</strong>
                </>
              </li>
            ))
          }
        </ul>
      </div>
      <div class={`${contactDetailClass}`}>
        <img
          class="w-6"
          src="/images/contact/social.png"
          alt="social media links"
        />
        <div>
          {
            contactDetails.social.map(({ name, url }) => (
              <a
                class="block"
                href={url}
                target="_blank"
                rel="noopener noreferrer"
              >
                {name}
              </a>
            ))
          }
        </div>
      </div>
    </div>
    <Map />
  </div>
</div>
